# SITE CONFIGURATION
baseurl: "/ai-atelier"
url: "http://kitchentablecoders.com/"

# THEME-SPECIFIC CONFIGURATION
theme_settings:
  # Meta
  title: AI Atelier
  avatar: assets/img/ktc-logo.png
  favicon: assets/favicon.ico
  gravatar: # Email MD5 hash
  description: "Workshops on the craft of creative coding in all its forms" # used by search engines

  # Header and footer text
  header_text: > #two or three lines to describe your site
     <h1>.</h1>
  header_text_feature_image: assets/img/linked-list.png
  footer_text: >
   <a href="http://kitchentablecoders.com/">Kitchen Table Coders</a> is a collective of creative technologists. We host small workshops focusing on intermediate to advanced topics in programming.

  # Icons
  rss: true
  email_address: # Full email address, e.g. "sam@example.com"
  behance:
  bitbucket:
  dribbble:
  facebook:
  flickr:
  gitlab:
  github: "KitchenTableCoders"
  google_plus:
  instagram:
  keybase:
  linkedin:  # Full URL
  pinterest:
  reddit:
  soundcloud:
  stack_exchange:  # Full URL
  steam:
  tumblr:
  twitter: "ktcoders" # "twitter username"
  vimeo:
  wordpress:
  youtube:

  # Scripts / Features
  google_analytics: # Tracking ID, e.g. "UA-000000-01"
  disqus_shortname:
  katex: true # Enable if using math markup
  portfolio: false
  search: true
  tags: true


  # Localization strings
  str_follow_on: "Follow on"
  str_rss_follow: "Follow RSS feed"
  str_email: "Email"
  str_next_post: "Next post"
  str_previous_post: "Previous post"
  str_next_page: "Next"
  str_previous_page: "Prev"
  str_continue_reading: "Continue reading"
  str_javascript_required_disqus: "Please enable JavaScript to view comments."

  # Colours, typography and padding
  # Open the "_sass > base" folder, and open "_variables.scss"
  google_fonts: "Source+Sans+Pro:400,700,700italic,400italic"

  # Post navigation
  post_navigation: false

# PAGINATION
paginate: 70
paginate_path: "blog/page:num"

# PORTFOLIO
collections:
  portfolio:
    output: true
    permalink: /:collection/:name

# BUILD SETTINGS
markdown: kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: :compressed
plugins: [jekyll-paginate, jekyll-seo-tag]
theme: type-on-strap # If using the theme as a jekyll theme gem
exclude: ["Gemfile", "Gemfile.lock", "type-on-strap.gemspec", "*.gem", "LICENSE", "README.md", "screenshot.png"]
