---
---
@import "type-on-strap";
@import "responsive-embed.scss";

$header-link-color: #fff;
$header-desc-background-color: #507492;

// Brand colours
$brand-color: #2d8ca9;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images
// Typography colours
$text-color: #383838;
$link-color: #507492; // #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text
$blockquote-color: #EEF7FA; // $background-color;

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #212529;
    background-color: #fff;
}

.title-and-button {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

#main {
    border-bottom: 2px solid $brand-color;
}

.posts {

    .post-teaser .post-img {
            vertical-align: middle;
            border-radius: 25px 25px 0px 0px;
        }

    .post-teaser > span {
        display: inline-block;
        background-color: rgba(244, 244, 244, 0.8);
        border-radius: 0.1em;
        box-shadow: 10px 10px 5px rgba(1, 1, 1, 0.1);

        h1 {
            margin-top: 0;
            font-weight: 700;
            font-size: 1em;
            text-align: left;
            flex: 1 1 auto;
        }

        @media screen and (min-width: $sm-break) {
            padding: 40px;
        }
    }
}

.site-header {
    background: $brand-color;
    display: inline-block;

    a {
        color: $header-link-color;
    }
}

h2.sub-header {
    padding-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
}

h2.sub-header + h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #333;
    font-size: 4em;
}

.call-out {
    background-color: #fff;
    color: $header-desc-text-color;
    background-repeat: no-repeat;
    background-size: $feature-image-size;

    p:last-child {
        margin-bottom: 0;
    }
}


.byline {
  color: #999;
  margin-top: 1em;
  border-top: dotted 1px #333;
  padding-top: 0.618em;
  padding-bottom: 0.618em;
  border-bottom: dotted 1px #333;
  margin-bottom: 1em;
}

.button {
  background-color: $brand-color;
  color: #FFF !important;
  border-radius: 0.3em;
  border-color: #3385AD;
  border-bottom-color: #1472A1;
  background-repeat: no-repeat;
  border-width: 1px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-block;
  line-height: 1.33333333333333333333;
  text-align: center;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s, box-shadow 0.2s ease, text-shadow 0.2s;
  padding: 0.4em 0.6em 0.4em 0.7em;
  margin: 0px;
  position: relative;
  overflow: hidden;

  &:before {
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px 3px 0 0;
    border-width: 1px 1px 0;
    top: 0;
    height: 2px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0
  }

  &:hover {
    text-transform: none !important;
  }
}

.signup-button {
    text-align: right;
}

.excerpt-footer {
    padding-top: 20px;
}

#about-us img {
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0;
    float: left;
}