---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

<div class="main">
  <div class="container">
    {% for workshop in site.workshops %}
      <section class="card">
        <a class="button signup-button" href="#">Sign Up</a>
        <h1>{{ workshop.title }}</h1>
        {% case workshop.instructors.size %}
        {% when 1 %}
          <div class="byline">with <a href="#">{{ workshop.instructors.first }}</a></div>
        {% when 2 %}
          <div class="byline">with <a href="#">{{ workshop.instructors.first }}</a> and <a href="#">{{ workshop.instructors[1] }}</a></div>
        {% when 3 %}
          <div class="byline">with <a href="#">{{ workshop.instructors.first }}</a>, <a href="#">{{ workshop.instructors[1] }}</a>, and <a href="#">{{ workshop.instructors[2] }}</a></div>
        {% else %}
        {% endcase %}
        {{ workshop.content | markdownify }}
      </section>
      {% endfor %}
  </div>
</div>

<center>
<h2 class="sub-header">Kitchen Table Coders Presents</h2>
<h1>AI Atelier</h1>
</center>

  <div class="posts">
  {% for post in site.posts %}
  {% if post.upcoming == true and post.categories contains 'class' %}
  <div class="post-teaser">
    <span>
      <header>
        <div class="title-and-button">
          <h1>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h1>
          <a class="button signup-button" href="{{ post.registration_url }}">Sign Up</a>
        </div>
        {% case post.instructor.size %}
        {% when 1 %}
          <div class="byline">with <a href="#">{{ post.instructor.first }}</a></div>
        {% when 2 %}
          <div class="byline">with <a href="#">{{ post.instructor.first }}</a> and <a href="#">{{ post.instructor[1] }}</a></div>
        {% when 3 %}
          <div class="byline">with <a href="#">{{ post.instructor.first }}</a>, <a href="#">{{ post.instructor[1] }}</a>, and <a href="#">{{ post.instructor[2] }}</a></div>
        {% else %}
        {% endcase %}
      </header>
      <p>
        {{ post.content | markdown }}
      </p>
    </span>
  </div>
  {% endif %}
  {% endfor %}

  </div>




</div>
