---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}


<div class="main">
  <div class="container">
    {% for workshop in site.workshops %}
      <section class="card">
        <a class="button signup-button" href="#">Sign Up</a>
        <h1>{{ workshop.title }}</h1>
        {% case workshop.instructors.size %}
        {% when 1 %}
          <div class="byline">with <a href="#">{{ workshop.instructors.first }}</a></div>
        {% when 2 %}
          <div class="byline">with <a href="#">{{ workshop.instructors.first }}</a> and <a href="#">{{ workshop.instructors[1] }}</a></div>
        {% when 3 %}
          <div class="byline">with <a href="#">{{ workshop.instructors.first }}</a>, <a href="#">{{ workshop.instructors[1] }}</a>, and <a href="#">{{ workshop.instructors[2] }}</a></div>
        {% else %}
        {% endcase %}
        {{ workshop.content | markdownify }}
      </section>
      {% endfor %}
  </div>
</div>

<center>
<h2 class="sub-header">Kitchen Table Coders Presents</h2>
<h1>AI Atelier</h1>
</center>

<div class="posts">
  <div class="post-teaser">
    <span>
      <header>
        <div class="title-and-button">
          <h1>Machine Learning</h1>
          <a class="button signup-button" href="#">Sign Up</a>
        </div>
        <div class="byline">with <a href="#">Kovas Boguta</a> and <a href="#">Evan Casey</a></div>
      </header>
      <p class="excerpt">
        AI Atelier is a new workshop series for practicing software engineers with a focus on deep learning techniques. We believe that new machine learning methods will become an essential skill for the software engineer and this series is designed to give both practical foundations and hands on engineering experience. We deeply believe that computational thinking is a fundamentally creative endeavor and the series emphasizes intuition and innovation as much a technical capability. As the workshop series name implies our classes are crafted to give you a framework for building creative solutions to challenging problems. We have years of education experience from New York University, Parsons (The New School), Stanford University, (Columbia University) as well as years of training experience through Cognitect, and Kitchen Table Coders. This training initiative is advised by engineers currently working at Google Creative Labs, Twitter, and Cognitect.
      </p>
    </span>
  </div>
</div>



</div>
